body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3px;
}
.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  
  height:60px;
  width: 300px;
}


#easy {
  margin:4px;
  border: 3px solid green;
  background-color: green;
  color: white;
  font-size: 22px;

}

#medium {
  margin:4px;
  border: 3px solid #845EC2;
  background-color: #845EC2;
  color: white;
  font-size: 22px;

}

#hard {
  margin:4px;
  border: 3px solid #C34A36;
  background-color: #C34A36;
  color: white;
  font-size: 22px;
}

#image-container{
display:none;
/* border: 2px solid brown; */

 /* height:300px; */
/* width: 300px; */
/* flex-direction: row; */
flex-wrap: wrap;
/* align-content: flex-start; */
justify-content: space-evenly;
/* align-items: center; */
gap:20px 20px;
width:1000px; 

}

.card-images {
  /* border: 2px solid brown; */
  height: 300px;
  width: 200px;
  margin:4px 6px 12px ;
  padding: 4px;

}
#reset{
  display:none;
  background-color: #0E0054;
  color: white;
  font-size: 22px;
  width:100px;
  height: 30px;
  border: 2px solid #0E0054;
  align-items: center;
  justify-content: center;
}